.user-header {
  color: #b8b8ff;
  font-size: 2rem;
  font-weight: 700;
}

.user-container {
  margin-bottom: 1.5rem;
  margin-top: 5rem;
  text-align: center;
  background-color: #23234a;
  padding: 1rem;
}
