@use "bootstrap";

// Import fonts from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Tangerine:wght@400;700&display=swap");
